/* owl-carousel */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 92%;
margin: 0 auto;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* CSS3 Transitions */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

.next-quote {
z-index: 99999;
background-image: url(/sysimg/next1.png);
background-repeat: no-repeat;
width: 10px;
height: 10px;
background-size: 10px 10px;
position: absolute;
right: 0;
margin-top: 13%;
}
.prev-quote {
z-index: 99999;
background-image: url(/sysimg/prev1.png);
background-repeat: no-repeat;
width: 10px;
height: 10px;
background-size: 10px 10px;
position: absolute;
left: 0;
margin-top: 13%;
}
#box1
{position: relative;
margin-bottom: 12px;}
.imgs-item
{
margin:0 4%;
text-align: center;}
.imgs-item img
{width: 100%;
max-width: 150px;
border-radius: 8%;
border: solid 1px #B6B4B4;}
.page_nav
{height: 35px;
font-size: 14px;
line-height: 28px;}
.Ftext {
color: #999;
border-bottom: 2px #D8D8D8 dotted;
height: 30px;
margin-bottom: 10px;
}
.xxbt {
float: left;
margin: 10px 0 10px;

}
.xx-jiage {
font-size:20px;
color: #f40;
float: left;
padding-right: 5px;
}
.xxlxfs {
float: left;
display: inline;
margin-bottom: 20px;
}
.xxlxfs ul li {
font-size: 17px;
line-height: 25px;
padding-bottom: 5px;
list-style: none;
}
.xxtablest {
height: 37px;
background: #f5f5f5;
border-bottom: 1px solid #001FFF;
font-size: 14px;
}
.xxtablest li {
font-weight: bold;
list-style: none;
width: 85px;
float: left;
}
.xxc_1 {
text-align: center;
border-left: 1px solid #001FFF;
border-right: 1px solid #001FFF;
border-top: 2px solid #001FFF;
border-bottom: 1px solid #fff;
background: #fff;
}
.pcontent
{WORD-BREAK: break-all;
overflow:hidden;
padding:10px 4% 10px 4%;
width: 100%;
font-size:14px;
}
.pcontent img
{max-width: 100%;}
/*留言*/
.cmt-box {
padding: 15px 3%;
font-size: 16px;
}
.cmt-box .cmt-item {
position: relative;
margin-bottom: 10px;
padding-left: 55px;
min-height: 53px;
line-height: 1.6;
color: #323232;
border-bottom: 1px solid #D4D4D4;
}
.cmt-bd,.cmt-ft {
margin-bottom: 10px;
word-wrap: break-word;
font-size: 16px;
}
.cmt-qian {
margin-bottom: 10px;
word-wrap: break-word;
font-size: 13px;
color: #979797;
text-align: right;
margin-right: 10px;
}
.cmt-del {
color: #3485FF;
width: 40px;
float: right;
}
.cmt-txt {
line-height: 1.6;
margin-bottom: 10px;
min-height: 28px;
}
.avatar
{display: block;
position: absolute;
top: 3px;
left: 0;
padding: 1px;
width:  45px;
height:  45px;
line-height:  45px;
text-align: center;
overflow: hidden;
border: 1px solid #D4D4D4;}
.avatartop {
top: -1px;
}
.cmt-hd {
word-wrap: break-word;
}
.cmt-box .reply-btn {
float: right;
color: #72B939;
}
.cmt-box .reply-btn i {
display: inline-block;
margin-left: 3px;
width: 0;
height: 0;
vertical-align: middle;
border: 5px solid #FFF;
border-top-color: #72B939;
border-bottom-width: 0;
}
.cmt-box .uname {
color: #04489D;
margin-right:10px;
}
.cmt-box .time {
color: #888888;
font-size: 12px;
float:right;
}
.cmt-btn {
margin-right: 10px;
padding: 0 10px;
height: 30px;
line-height: 30px;
font-weight: bold;
color: #FFF;
cursor: pointer;
vertical-align: middle;
border: 0;
background-color: #72B939;
}
.cmt-textarea {
padding: 5px;
border: 1px solid #72B939;
}
.cmt-textarea textarea {
width: 100%;
height: 35px;
overflow: hidden;
border: 0;
}
/*cmt over*/
/*fbr*/
.sb_left
{float: left;
border-right: 1px solid #ccc;
margin:8px;
padding-right: 15px;}
.sb_right
{padding: 5px 0px 0px 0px;
line-height: 56px;
font-size: 16px;
text-align: center;
float: right;
width: 118px;
}
.headphoto {
float: left;
border: 1px solid #666666;
padding: 3px;
width: 80px;
height: 80px;
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: inherit;
-ms-border-radius: 100%;
margin: 10px 15px;
float: left;
}
.u_name
{float: left;
margin: 10px;
font-size: 20px;
line-height: 80px;
width: 170px;
overflow: hidden;
height: 80px;
}
.fbr_name
{ 
font-size: 16px;
line-height: 30px;
overflow: hidden;
height: 35px;
}

.fbr_lv {
position: absolute;
background: url(/sysimg/fbr_lv.png) no-repeat;
top: -5px;
right: -5px;
width: 80px;
height:80px;
}
.r45
{ -webkit-transform: rotate(45deg);    /* for Chrome || Safari */
-moz-transform: rotate(45deg);       /* for Firefox */
-ms-transform: rotate(45deg);        /* for IE */
-o-transform: rotate(45deg);         /* for Opera */
text-align: center;
margin-top: 18px;
margin-left: 20px;
font-size: 16px;
color: #FFF047;
}
.izan {
float: right;
text-indent: 1.5em;
background: url(/sysimg/ilike.png) no-repeat;
cursor: pointer;
font-size: 15px;
letter-spacing: 2px;
}