body {
font-family: "Microsoft Yahei","冬青黑体简体中文 w3","宋体";
white-space: normal;
font-size: 14px;
line-height: 1.428571429;
color: #333;
margin: 0;
word-break: break-all;
}
button, input, select, textarea {
margin: 0;
font-family: inherit;
font-size: 100%;
}
textarea {
resize:none;
}
button, select {
text-transform: none;
}
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{ font-family:"Microsoft Yahei","冬青黑体简体中文 w3","宋体";font-weight: 500;
line-height: 1.1;
color: inherit;}
h1, .h1{font-size:24px;}
h2, .h2{border-bottom: 1px solid #dadada;padding-bottom:10px;font-size:21px;}
h3, .h3{font-size:20px;}
h4, .h4{font-size:18px;}
p {margin: 5px;font-size:14px;}
a {
color: #333333;
text-decoration: none;
}
a:hover {
color: #01A29C;
text-decoration: none;
}
ul
{list-style: none;margin: 0px;
padding: 0px;}
.clean,.clear
{clear:both;}
/*top导航栏*/
.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
width: 1170px;
}
.left {
float: left;
}
.left_820{float:left;width: 820px;}
.bg
{background: url(/sysimg/bg.gif);}
.nav_h
{height: 100px;}
.topnav-bottom {
height: 38px;
position: absolute;
z-index: 2;
width: 100%;
background: #0FB900;
box-shadow: 0 0 3px #575551;
-moz-box-shadow: 0 0 3px #575551;
-webkit-box-shadow: 0 0 3px #575551;
}
.topnav {
width: 1170px;
position: relative;
z-index: 2;
margin: 0 auto;
text-align: center;
}
.topnav .nav {
height: 38px;
line-height: 38px;
float: right;
position: relative;
z-index: 2;
text-align: right;
width: 100%;
margin: 0 20px 0 0;
padding: 0;
}

.nav li {
position: relative;
padding: 0;
display: inline-block;
}
.nav li a {
letter-spacing: 0em;
height: 36px;
padding: 0 16px 0 18px;
color: #ffffff;
text-transform: uppercase;
text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
font-style: normal;
font-weight: normal;
text-decoration: none;
border-bottom: 1px dotted transparent;
display: inline-block;
font-size: 17px;
}
.nav li a:hover
{color: #f40;
background-color: #F5F5F5;}
.search-navbar {
position: relative;
z-index: 1;
height: 36px;
width: 1170px;
margin: 0 auto -36px auto;
text-align: center;
}
.search-navbar .search{
position: absolute;
right: 15px;
padding: 0;
margin: 0;
border-radius: 0 0 4px 4px;
-moz-border-radius: 0 0 4px 4px;
-webkit-border-radius: 0 0 4px 4px;
box-shadow: 0 0 5px #b5b2a9;
-moz-box-shadow: 0 0 5px #b5b2a9;
-webkit-box-shadow: 0 0 5px #b5b2a9;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4));
background:  -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
background-image: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
background: linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
}
.logo-container {
width: 320px;
text-align: left;
float: left;
position: absolute;
z-index: 2;}
.navbar-sform {
padding: 3px 5px 3px 5px;

border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
float: left!important;
}
.navbar-sform .form-group {
display: inline-block;
margin-bottom: 0;
vertical-align: middle;
}
.s-form {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
/*首页login*/
.login-form
{margin-bottom: 10px;}
.ilogin
{padding:25px 20px 10px 20px;}
.searchbtn {
background: -webkit-gradient(linear, left top, left bottom, from(#B1B1B1), to(#0A0A0A) );
display: inline-block;
padding: 4px 8px;
margin-bottom: 0;
line-height: 1.72;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
color:#fff;
}
.searchbtn:hover{
background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#77EFFF) );
color:#333;
}
/*tubiao*/
.search-font {
font-size:14px;
}
.nav_left {

position: fixed;
width: 120px;
margin-top: 60px;
}
.my_sidebar
{
width: 310px;
float: right;
background: #FDFDFD;
-webkit-box-shadow: rgba(0, 0, 0, 0.22)  2px 2px 4px 0;
box-shadow: rgba(0, 0, 0, 0.22)  2px 2px 4px 0;
-moz-box-shadow:rgba(0, 0, 0, 0.22)  2px 2px 4px 0;
}
.my_sidebar a {color:#001E7E;text-decoration:none;}
.my_sidebar a:hover{color:#c10;TEXT-DECORATION:none;}
.my_sidebar_top
{

border-bottom: 1px solid #ccc;
margin: 5px;
height:70px

}
.my_sidebar_title
{

border-bottom: 1px solid #ccc;
margin: 5px;
height:40px;

}
.my_sidebar_title .topic {
font-size: 20px;
font-family: 'Microsoft Yahei';
line-height: 35px;
padding-left: 10px;
font-weight: 400;
border-left: 3px solid #2F5EF1;
margin:5px;
}
.sb_left
{float: left;
border-right: 1px solid #ccc;
margin:8px;
padding-right: 15px;}
.sb_right
{padding: 5px 0px 0px 0px;
line-height: 56px;
font-size: 16px;
text-align: center;
float: right;
width: 118px;
}
.headphoto {
float: left;
border: 1px solid #666666;
padding: 3px;
width: 80px;
height: 80px;
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: inherit;
-ms-border-radius: 100%;
margin: 10px 15px;
float: left;
}
.u_name
{float: left;
margin: 10px;
font-size: 20px;
line-height: 80px;
width: 170px;
overflow: hidden;
height: 80px;
}
.fbr_name
{ 
float: left;

font-size: 16px;
line-height: 30px;
width: 170px;
overflow: hidden;
height: 35px;
}

.fbr_lv {
position: absolute;
background: url(/sysimg/fbr_lv.png) no-repeat;
top: -5px;
right: -5px;
width: 80px;
height:80px;
}
.r45
{ -webkit-transform: rotate(45deg);    /* for Chrome || Safari */
-moz-transform: rotate(45deg);       /* for Firefox */
-ms-transform: rotate(45deg);        /* for IE */
-o-transform: rotate(45deg);         /* for Opera */
text-align: center;
margin-top: 18px;
margin-left: 20px;
font-size: 16px;
color: #FFF047;
}
.user_item
{
width: 33%;
font-size:16px;
padding:10px;
float:left;
text-align:center;}
.user_logout
{margin-left: 14px;}
.user_logout a
{color: #5000C9;
text-decoration: underline;}
.user_logout a:hover
{color: #01A29C;}
.my_button
{
background: #D82741;
background: -webkit-gradient(linear, left top, left bottom, from(#E84B6E), to(#D82741) );
background: -moz-linear-gradient(-90deg, #E84B6E, #D82741);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E84B6E', EndColorStr='#D82741');
border-radius: .3em;
text-decoration: none;
font: bold 1.5em 'Trebuchet MS',Arial, Helvetica;
display: inline-block;
text-align: center;
color: #fff;
border: 1px solid #9c9c9c;
border: 1px solid rgba(0, 0, 0, 0.3);
text-shadow: 0 1px 0 rgba(0,0,0,0.4);
box-shadow: 0 0 .05em rgba(0,0,0,0.4);
-moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
-webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
}
.button-red
{
background: #D82741;
background: -webkit-gradient(linear, left top, left bottom, from(#E84B6E), to(#D82741) );
}
.button-red :hover{
background: #CA0824;
background: -webkit-gradient(linear, left top, left bottom, from(#F0476D), to(#C20A25) );
}
.button-blue {
background: #4A67FF;
background: -webkit-gradient(linear, left top, left bottom, from(#5A79F8), to(#0068B9) );
}
.button-blue :hover{
background: #CA0824;
background: -webkit-gradient(linear, left top, left bottom, from(#294AF8), to(#4F7CF1) );
}
.my_button  span
{
border-top: 1px solid #fff;
border-top: 1px solid rgba(255, 255, 255, 0.5);
display: block;
padding: 0.2em 0.4em;
background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%), -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
-moz-background-size: 3px 3px;
-webkit-background-size: 3px 3px;
background-size: 3px 3px;
font: bold 1.3em 'Trebuchet MS',Arial, Helvetica;
text-align: center;
color: #fff;
text-shadow: 0 1px 0; 
}
.qg_content {
width: 285px;
margin: 0 auto;
padding-top: 5px;
padding-left: 3px;
color: #ff6600;
line-height: 1.8em;
margin-bottom: 13px;
}
.p01 {
border-left: #FFFFFF solid 1px;
border-right: #FFFFFF solid 1px;
border-top: #FFFFFF solid 1px;
border-bottom: #EBEBEB dashed 1px;
height: 35px;
line-height: 30px;
text-align: right;
background-image: url(/sysimg/arrow_index01.gif);
background-repeat: no-repeat;
background-position: 2px 12px;
padding: 0 0 0 5px;
margin: 0px;
}
.p03 {
background-color: #f6f6f6;}
.p02 {
border: #f39867 solid 1px;
width: 282px;
height: 35px;
line-height: 30px;
text-align: right;
background: url(/sysimg/arrow_index02.gif) no-repeat 2px 12px #fffcce;
}
.qg_content p span{
float: left;
text-indent: 10px;
height: 30px;
line-height: 30px;
overflow: hidden;
text-align: left;
text-decoration: none;
padding: 0px;
margin: 0px;
font-family: "Microsoft Yahei";
font-size: 15px;
}
.qg_content  a{
float: left;
text-indent: 10px;
height: 35px;
line-height: 35px;
overflow: hidden;
text-align: left;
text-decoration: none;
padding: 0px;
margin: 0px;
font-family: "Microsoft Yahei";
font-size: 16px;
}

/*首页左侧分类导航没用上*/
#sidebar{width:162px;border:1px solid #DADADA;background:rgba(255, 255, 255, 0.76);float:left;}
#sidebar.navlistk{padding-left:30px; height:33px;}
#sidebar h3{padding-left:50px;}

/*网站下拉栏目*/
.sidelist{position:relative;z-index:1;height:33px;border-bottom:1px solid #DADADA;}
.sidelist span.navlistk{position:relative;z-index:3;height:33px;line-height:33px;font-size:14px;font-weight:normal;}
.sidelist span.navlistk .lanmu{font-size:15px;text-decoration:none;display:block;height:31px; font-weight:400;font-family: tahoma,arial,Microsoft Yahei,\5b8b\4f53;padding:1px;}
.sidelist span.navlistk .lanmuhover{z-index:3;position:relative;color:#E60000;border:1px solid #2F5EF1;border-right:1px solid #FFFFFF;padding:0;}
.i-list{display:none;position:absolute;z-index:1;left:161px;top:0px;width:340px;padding:5px;background:rgba(255, 255, 255, 0.76);border:1px solid #2F5EF1;height: 160px;}
.i-list .list-title{text-align: center;}
.i-list .list-title a{line-height:35px;color: #f40;font-family: tahoma,arial,Microsoft Yahei,\5b8b\4f53;font-size:18px;}
.i-list ul{ padding:0 10px 10px 10px; margin:0}
.i-list ul  a{color:#000000;text-decoration:none;font-size:14px;}
.i-list ul  a:hover{color:#f00000;text-decoration:none;font-size:14px;}
.i-list ul li{width:100px;float:left;list-style:none;line-height:35px;height:35px;text-align: center;border-bottom:1px solid #EBEBEB;}
.i-list ul li a{color:#666;text-decoration:none;font-size:14px;line-height:40px;}
.i-list ul li a:hover{text-decoration:none;color:red; font-size:14px;background-color:#FF0}
/*首页聚光灯格子*/
.spotlightWrapper {
width:800px;}
.spotlightWrapper ul { 
			list-style-type: none; /* remove the default style for list items (the circles) */ 
			margin:0px; /* remove default margin */
			padding:0px; /* remove default padding */
		}
		.spotlightWrapper ul li { 
			float:left; /* important: left float */
			position:relative; /* so we can use top and left positioning */
		}
		.spotlightWrapper ul li a img { 
			width:200px; /* you don't need this, i just rescaled the images they are bigger then i want them to be ' */
			position:relative; /* so we can use top and left positioning */
			border:none; /* remove the default blue border */
		}
		.spotlightWrapper ul li a img.active {
			border: 2px solid white;
		z-index: 1;
		left: -1px;
		top: -1px;
		box-shadow: rgba(0, 0, 0, 0.22) 5px 5px 10px 0px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.22) 5px 5px 10px 0px;
		-moz-box-shadow: rgba(0, 0, 0, 0.22) 5px 5px 10px 0px;
		}
		.clear { clear:both; } /* to clear the float after the last item */
/*信息页聚光灯格子*/
.spotlightWrapper2 {
width:1170px;float:left;position: relative;margin: 5px 2px 20px;}
.spotsidelist
{width: 141px;
height: 145px;}
.spotlightWrapper2 .title
{background: #057700;
height: 35px;
font-size: 18px;
line-height: 32px;
text-align: center;
color: #fff;
border: solid 2px #FFF;
margin-top: -4px;
letter-spacing:5px;
}

.subclass
{position: absolute;
width: 1128px;
height: 100px;
background: rgba(55, 159, 255, 0.9);
z-index: 999;
top: 107.2px;
left: -1px;
box-shadow: rgba(0, 0, 0, 0.22) 5px -3px 6px 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.22) 5px -3px 6px 0px;
-moz-box-shadow: rgba(0, 0, 0, 0.22) 5px -3px 6px 0px;
border:2px solid white;}
.subclass_each
{width: 12.5%;
float: left;
font-size: 24px;
height: 100px;
line-height: 100px;
text-align: center;}
.subclass_each a
{color: #ffffff;}
.subclass_each a:hover
{color: #ffeb00;}
.spotlightWrapper2 ul { 
			list-style-type: none;
			margin:0px;
			padding:0px;
		}
		.spotlightWrapper2 ul li { 
			float:left; /* important: left float */
			
		}
		.spotlightWrapper2 ul li a img { 
			width:141px; /* you don't need this, i just rescaled the images they are bigger then i want them to be ' */
			position:relative; /* so we can use top and left positioning */
			border:none; /* remove the default blue border */
			height: 110px;
		}
		.spotlightWrapper2 ul li a img.active {
			border:2px solid white; /* choose whatever you like */
			z-index:1000; /* show it on top of the other images (they have z-index 0) */
			left: -1px; /* same as border width but negative */
			top: -1px; /* same as border width but negative */
			box-shadow: rgba(0, 0, 0, 0.22) 5px -3px 6px 0px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.22) 5px -3px 6px 0px;
            -moz-box-shadow: rgba(0, 0, 0, 0.22) 5px -3px 6px 0px;
			border-bottom: 0;
		}
		 /* to clear the float after the last item */
 /*首页产品展示开始*/

.item
{width: 205px;
float: left;
padding: 0px 8px;
}
.thumbnail {
display: block;
height: auto;
max-width: 100%;
padding: 4px;
margin-bottom: 15px;
line-height: 1.428571429;
border: 1px solid #FFFFFF;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
position: relative;
box-shadow: rgba(0, 0, 0, 0.14) 2px 2px 4px 0;
-webkit-box-shadow: rgba(0, 0, 0, 0.14) 2px 2px 4px 0;
-moz-box-shadow: rgba(0, 0, 0, 0.14) 2px 4px 6px 0;
background-color: #fff;}
.thumbnail:hover {
border-color: #428bca;
border-right: 1px solid #428bca;
color: #2a6496;
}
.thumbnail .date {
position: absolute;
top: 5px;
left: -1px;
height: 25px;
width: 60px;
color: #fff;
line-height: 25px;
text-align: center;
background-color: #FF4700;
font-size: 14px;
overflow: hidden;
}
.thumbnail .caption {
padding: 9px;
color: #333;
background: #FFF;
}
.stickyImg {
width: 100%;
height: 140px;
overflow: hidden;
background: rgba(255, 255, 255, 0.8);
}
.stickyImg img {
width: 100%;
}
.stickyContent {
height: 50px;
overflow: hidden;
margin-bottom: 15px;
}
.stickyTitle {
word-break: break-all;
margin: 5px 0 7px;
}
 /*首页产品展示结束*/
  /*gototop*/
#gotoTop {
display: none;
z-index: 1000;
position: fixed;
top: 75%;
left: 50%;
cursor: pointer;
margin-top: -50px;
margin-left: 520px;
width: 64px;
height: 64px;
line-height: 100;
overflow: hidden;
background: url(/sysimg/gotop.png) no-repeat;
_position:absolute;
	_top:expression_r(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px");
}
 /*信息展示*/
.xxleft {float: left;width: 800px;background: #FFF;
margin-top: 25px;padding: 15px;}
.xxTit
{border-top:1px  #cac8c9 solid;border-left:1px  #cac8c9 solid;border-right:1px  #cac8c9 solid;background:#c1c1c1;padding:8px 0 0px 10px;color:#dc0000; height:23px;}
.xxContent{border:1px  #cac8c9 solid;padding:5px;}
.xxtb{width: 400px;
float: left;
margin-top: 6px;
}
.Ftext 
{color: #999;
border-bottom: 3px #D8D8D8 dotted;
height: 30px;
margin-bottom: 25px;}
.izan
{float: right;
text-indent: 1.5em;
background: url(/sysimg/ilike.png) no-repeat;
cursor: pointer;
font-size: 15px;
letter-spacing: 2px;}
.xxbt
{float:left;margin-bottom:10px;min-height: 50px;}
#xxxb{padding:10px;}
.xxgallery {
float: left;
width: 350px;
height: 350px;
margin: 10px 10px 10px 0px;
position: relative;
}
.xxpic{
width: 350px;
height: 350px;
vertical-align: middle;
display: table-cell;
}
.xxpic img{display: block;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}
.pic-slide {
position: absolute;
bottom: 0;
z-index: 99;
width: 100%;
height: 70px;
text-align: center;
}
.pic-small  {
display: inline-block;
zoom: 1;
height: 70px;
width: 60px;
text-align: center;
line-height: 66px;
}
.pic-small .small {
border: 1px solid #FCFCFC;
height: 55px;
width: 55px;
cursor: pointer;
vertical-align: middle;
}
.pic-small .cur {
border: 3px solid #6E8BFF;
height: 59px;
width: 59px;
}
.pic-slide-layer {
background: #DFDFDF;
position: absolute;
bottom: 0;
z-index: 50;
width: 100%;
height: 70px;
opacity: 0.7;
filter: alpha(opacity=70);
}
/*信息联系方式*/
.xxlxfs{
float: left;
display: inline;
margin-bottom: 20px;}
.xxlxfs ul li{
font-size: 17px;
line-height: 35px;
padding-bottom: 5px;
list-style: none;
width: 370px;
    }
/*信息详情留言切换*/
.xxtablest{ height: 37px;background: #f5f5f5;border-bottom: 1px solid #001FFF;font-size: 14px;}
.xxtablest li
{
font-weight: bold;
list-style: none;
width: 85px;
float:left;}
.xxblock{display: block;padding-top: 10px;}
.xxnone{display: none;padding-top: 10px;}
.xxc_0 {border:0;text-align: center;} /*隐藏状态*/
.xxc_1 
{text-align: center;
border-left: 1px solid #001FFF;
border-right: 1px solid #001FFF;
border-top: 2px solid #001FFF;
border-bottom: 1px solid #fff;
background: #fff;}
.xxnr
{padding: 0px 15px 0px 15px;
 overflow: hidden;
word-wrap: break-word;
font-size: 16px;}
.xxnr p
{font-size:14px;margin: 5px;}
.xxnr a
{color:#0026F0;}
.xx-rmb{
font-family: arial;
color: #999;
font-weight: 400;
margin-right: 4px;
float: left;
padding-top: 3px;
}
.xx-jiage{
font: normal 24px Tahoma,Arial,Helvetica,sans-serif;
color: #f40;
float: left;
padding-right: 5px;
padding-top: 2px;
}
/*cate页价格样式*/
.cate-rmb{
float: right;
line-height:35px;

}
.xx-jiage2{
font: normal 20px Tahoma,Arial,Helvetica,sans-serif;
color: #f40;
float: left;
padding-right: 5px;
padding-top: 2px;
line-height: 35px;
}
 /*待整合*/
 .btn-block {
display: block;
width: 80%;
padding-right: 0;
padding-left: 0;
text-align: center;
margin: 0 auto;
}
/*留言按钮*/
.btn-primary {
color: #fff;
background-color: #428bca;
border-color: #357ebd;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
color: #fff;
background-color: #3276b1;
border-color: #285e8e;
}
.btn {
padding: 6px 12px;
font-size: 14px;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/*留言结束*/
/*状态切换start*/
.veablock{display: block;padding-top: 10px;}
.veanone{display: none;padding-top: 10px;}
.veac_0 {float: left;
display: block;
height: 35px;
line-height: 35px;
overflow: hidden;
padding: 0 1px;
width: 85px;
text-align: center;
border-bottom: 2px solid #E6E1E1;
cursor:pointer;font-size:16px; color:#999; line-height:35px; font-weight:900;} /*隐藏状态*/
.veac_1 {
float:left;
display: block;
height: 35px;
overflow: hidden;
width: 85px;
text-align: center;
border-bottom: 1px solid #d3d3d3;
padding: 0;
font-weight: 700;
border-left: 1px solid #e8e8e8;
border-right: 1px solid #e8e8e8;
border-bottom-color: #fff;
background: #fff;
cursor:pointer;font-size:16px; color:#03F; line-height:35px; font-weight:900;
box-shadow: rgba(0, 0, 0, 0.22) 2px -1px 5px 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.22) 2px -1px 5px 0px;
-moz-box-shadow: rgba(0, 0, 0, 0.22) 2px -1px 5px 0px;} /*显示状态*/
/*状态over*/
/*pages*/
.pages {
text-align: center;
margin: 20px 0 20px 0;
}
.pages a {
width: 35px;
margin: 0 2px;
background: #fff;
text-decoration: none;
display: inline-block;
height: 30px;
font-size: 12px;
color: #666;
line-height: 30px;
vertical-align: middle;
text-align: center;
border: solid 1px #8B8C8D;
}
.pages .updown
{width: 50px;}
.pages .current
{
color: #f40;
font-weight: 600;
background: #fff;
}
hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #9B9B9B;
}
/*index-定制*/
.sidebar {
float: right;
width: 310px;
}
.box {
margin-bottom: 15px;
border-right: solid 1px #dededf;
border-bottom: solid 1px #dbdcde;
background-color: #FFF;
}
.user{
height: 270px;
overflow: hidden;
}
.sitenews{
float: right;
width: 310px;
height: 220px;
}
.newslist {
float: left;
padding-left: 19px;
margin-top: 13px;
width: 300px;
overflow: hidden;
}
.newslist li {
line-height: 25px;
height: 25px;
background-image: url(/sysimg/newslist.gif);
background-repeat: no-repeat;
background-position: 0 9px;
text-indent: 11px;
overflow: hidden;
}
.newpub{
height: auto;
overflow: hidden;
padding-bottom: 10px;
}
.box-tb {
margin-bottom: 5px;
margin: 0 10px;
height: 45px;
line-height: 43px;
color: #FBFBFB;
border-bottom: 1px solid #D4D4D4;
}
.box-tb .title {
float: left;
}
.box-tb .title em {
font-size: 18px;
font-style: normal;
font-weight: bold;
color: #535353;
vertical-align: middle;
}
.box-tb .subtitle {
float: left;
margin-top: 17px;
width: 538px;
height: 13px;
overflow: hidden;
}
.box-tb .subtitle li {
float: left;
padding: 0 10px;
height: 13px;
line-height: 13px;
border-right: 1px solid #7B7B7B;
}
.box-tb .subtitle li:last-child {
border-right: 0;
}
.hot {
height: 270px;
overflow: hidden;
}
.hot .content {
padding: 5px;
}
.hot .news
{border-left:1px solid #d4d4d4;width: 361px;height:250px;line-height:1.76;float:left;padding-left:10px;margin-left: 10px;}
.hot .news em {
font-size: 16px;
font-style: normal;
font-weight: bold;
color: #001FFF;
vertical-align: middle;
}
.hot .news li
{
line-height: 30px;
height: 30px;
font-size: 16px;
}
.share {
height: auto;
overflow: hidden;
padding-bottom: 10px;
}
.share  .content {
padding: 10px;
}
/*new首页产品展示开始*/
.item1
{width: 100%;
float: left;
height: 180px;
margin-bottom: 10px;
}
.thumbnail1 {
display: block;
height: 170px;
max-width: 100%;
padding: 5px;
line-height: 1.428571429;
border: 1px solid #eeeeee;

position: relative;

background-color: #FBFBFB;
}
.thumbnail1:hover {
border-color: #428bca;
color: #2a6496;
}
.thumbnail1 .date {
position: absolute;
top: 5px;
left: -1px;
height: 25px;
width: 65px;
color: #fff;
line-height: 25px;
text-align: center;
background-color: #FF4700;
font-size: 14px;
overflow: hidden;
}
.thumbnail1 .caption1 {
padding: 9px;
color: #333;
float: left;
width: 600px;
}
.stickyImg1 {
width: 160px;
height: 160px;
overflow: hidden;
padding:5px;
vertical-align: middle;
display: table-cell;
}
.stickyImg1 img {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 150px;
max-height: 150px;
}
.stickyContent1 {
height: 35px;
overflow: hidden;
margin-bottom: 15px;
}
.stickyTitle1 {
margin: 5px 0 7px;
font-size: 24px;

}
.stickySummary1 {
margin: 5px 0 7px;
height: 66px;
overflow:hidden;
}
.stickySummary1 .Summary{
line-height:22px;
font-size: 16px;
}
.stickySummary1 .Summary a{
color:#888;
}
.stickySummary1 .Summary a:hover{
color:#111;
}
 /*首页产品展示结束*/

/*cmt*/
.cmt-box {
padding: 20px;
font-size: 16px;
}
.cmt-box .cmt-item {
position: relative;
margin-bottom: 10px;
padding-left: 75px;
min-height: 53px;
line-height: 1.6;
color: #323232;
border-bottom: 1px solid #D4D4D4;
}
.cmt-bd,.cmt-ft {
margin-bottom: 10px;
word-wrap: break-word;
font-size: 16px;
}
.cmt-qian {
margin-bottom: 10px;
word-wrap: break-word;
font-size: 13px;
color: #979797;
text-align: right;
margin-right: 10px;
}
.cmt-del {
color: #3485FF;

}
.cmt-txt {
line-height: 1.6;
margin-bottom: 10px;
min-height: 28px;
}
.avatar
{display: block;
position: absolute;
top: 3px;
left: 0;
padding: 1px;
width: 60px;
height: 60px;
line-height: 60px;
text-align: center;
overflow: hidden;
border: 1px solid #D4D4D4;}
.avatartop {
top: -1px;
}
.cmt-hd {
word-wrap: break-word;
}
.cmt-box .reply-btn {
float: right;
color: #72B939;
}
.cmt-box .reply-btn i {
display: inline-block;
margin-left: 3px;
width: 0;
height: 0;
vertical-align: middle;
border: 5px solid #FFF;
border-top-color: #72B939;
border-bottom-width: 0;
}
.cmt-box .uname {
color: #04489D;
margin-right:10px;
}
.cmt-box .time {
color: #888888;
font-size: 14px;
}
.cmt-btn {
margin-right: 10px;
padding: 0 10px;
height: 30px;
line-height: 30px;
font-weight: bold;
color: #FFF;
cursor: pointer;
vertical-align: middle;
border: 0;
background-color: #72B939;
}
.cmt-textarea {
padding: 5px;
border: 1px solid #72B939;
}
.cmt-textarea textarea {
width: 100%;
height: 35px;
overflow: hidden;
border: 0;
}
/*cmtover*/
.panel-footer {
padding: 10px 15px;
background-color: #f5f5f5;
border-top: 1px solid #ddd;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
text-align: center;
}
.index_fenge
{
width: 100%;
height: 60px;
background-color: rgba(255, 255, 255, 0.5);
}
 /*首页图片切换*/
 .toppic {
width: 500px;
background: #fff;
height: 220px;
border-right: solid 1px #dededf;
border-bottom: solid 1px #dbdcde;
float: left;
}
.imgtop {
padding: 8px;
position: relative;
}
.imgtoplist {
position: absolute;
height: 178px;
}
.picz {
width: 11px;
height: 6px;
background: url(/sysimg/picjt.gif);
position: absolute;
z-index: 500;
margin-top: 172px;
margin-left: 405px;
}
.pictitle {
background-image: url(/sysimg/piclist.gif);
background-repeat: no-repeat;
background-position: 10px 12px;
float: left;
padding-left: 21px;
position: absolute;
top: 186px;
}
.pictitle li {
line-height: 30px;
font-size: 14px;
font-weight: bold;
width: 457px;
}
.imgon {
display: block;
}
.imgoff {
display: none;
}
.picbtn {
position: absolute;
right: 19px;
top: 198px;
}
.picbtn li {
float: left;
margin-left: 5px;
cursor: pointer;
}
.picbtn li a {
float: left;
cursor: pointer;
width: 12px;
height: 12px;
background: url(/sysimg/piclistbg.gif) no-repeat;
}
.picbtn li a.active {
background: url(/sysimg/piclistbg1.gif) no-repeat;
}
/*百度share page页*/
.bdsharebuttonbox
{float:right;
margin: 5px 0px;
width: 220px;}
/*index 认证*/
.id_ok
{width: 36px;
text-align: left;
float: left;
font-size: 16px;
}
.id_ok-content
{width:  120px;
padding-left: 8px;
text-align: left;
float: left;
}
.ok-id
{text-decoration: none;
width: 30px;
height: 30px;
background: url(/sysimg/idok.png) 0 0 no-repeat;
cursor: pointer;
float: left;
margin-right: 5px;
background-position: 0 -90px;
}
.ok-phone
{text-decoration: none;
width: 30px;
height: 30px;
background: url(/sysimg/idok.png) 0 0 no-repeat;
cursor: pointer;
float: left;
margin-right: 5px;
background-position: 0 -150px;
}
.ok-envelope
{
text-decoration: none;
width: 30px;
height: 30px;
background: url(/sysimg/idok.png) 0 0 no-repeat;
background-position: 0 -120px;
cursor: pointer;
float: left;
margin-right: 5px;
}
.ok-envelope:hover
{
background-position: -30px -120px;
}
.ok-id:hover
{
background-position: -30px -90px;
}
.ok-phone:hover
{
background-position: -30px -150px;
}
.ok-id.current {
background-position: 0 -60px;
}
.ok-id.current:hover{
background-position: -30px -60px;
}
.ok-phone.current {
background-position: 0 -30px;
}
.ok-phone.current:hover{
background-position: -30px -30px;
}
.ok-envelope.current {
background-position: 0 0;
}
.ok-envelope.current:hover{
background-position: -30px 0;
}
/*分类目录页*/
.classnav {
padding: 10px 0px;
margin-bottom: -6px;
overflow: hidden;
display: inline-block;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: bold;
color: #535353;
}
.classnav li {
float: left;
line-height: 26px;
margin: 0 10px 6px 0;
}
.classnav li a {
display: block;
background: #fff;
border-right: solid 1px #d0d0d0;
border-bottom: solid 1px #d0d0d0;
padding: 2px 10px 2px 10px;
}
.sortpart{
height: 35px;
width: 820px;
border-top: 2px solid #21be9f;
background: #FFFFFF;
line-height: 35px;
text-align: left;
padding-left: 10px;
margin-bottom: 15px;
}
.swfupload
{float: left;}
.swftitle
{
float: left;
height: 30px;
line-height: 30px;
font-size: 15px;
}